<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - NORTHWIND</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="/image/logo.ico" type="image/x-icon" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function logout() {
            localStorage.removeItem('username');
            localStorage.removeItem('password');

            document.cookie.split(";").forEach(function (c) {
                document.cookie = c.trim() + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
            });

            window.location.href = '@Url.Action("Login", "Account")';
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#logoButton').on('click', function () {
                window.location.href = '@Url.Action("CommonDashboard", "Admin")';
            });
        });
    </script>
</head>
<body>
    <header class="fixed-header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img src="/image/logo.png" alt="EK" style="width:6%; cursor: pointer;" id="logoButton">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <div class="w3-dropdown-hover">
                                <button class="w3-button">DASHBOARDS<i class="fa fa-caret-down"></i></button>
                                <div class="w3-dropdown-content w3-bar-block">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CommonDashboard">General</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="w3-dropdown-hover">
                                <button class="w3-button">FUNCTIONS<i class="fa fa-caret-down"></i></button>
                                <div class="w3-dropdown-content w3-bar-block">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserManagement">User Management</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="ProductManagement">Product Management</a>
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="CategoryManagement">Category Management</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <div class="w3-dropdown-hover">
                                <button class="w3-button" onclick="logout()">ACCOUNT<i class="fa fa-caret-down"></i></button>
                                <div class="w3-dropdown-content w3-bar-block">
                                    <a class="nav-link text-dark" href="javascript:void(0);" onclick="logout()">Quit</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-body">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="pc">
        <div class="footer-content">
            <a href="https://github.com/erenkotug" class="github">
                <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/erenkotug/" class="codepen">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <div class="copyright">
                <p>Made by <span>EREN KÖTÜĞ</span></p>
            </div>
        </div>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        .w3-button {
            font-size: 20px;
            padding: 8px 24px;
        }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
    <style>

        .nav-link {
            font-size: 18px;
        }

        .fixed-header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar-nav {
            width: 10%;
        }

            .navbar-nav .nav-item {
                margin-right: 20px; 
            }

        .nav-item {
            display: inline-block;
        }

        .w3-dropdown-content .nav-link {
            border: 1px solid #ccc; 
            border-radius: 4px; 
            padding: 8px 16px; 
            display: block; 
            text-decoration: none; 
            color: #333; 
            transition: border-color 0.3s; 
        }

            .w3-dropdown-content .nav-link:hover {
                border-color: #007bff; 
            }
    </style>
    <script>
        window.addEventListener('beforeunload', function (e) {
            navigator.sendBeacon('/Account/Logout');
        });
    </script>
</body>


</html>
